.contragents-table {
    width: 100%;
}

.contragents-table > div > table > tbody {
    font-size: 0.875rem;
    line-height: 0;
    white-space: nowrap;
}

.contragents-table > div > table > thead {
    font-size: 0.75rem;
    height: 3.125rem;
}

.contragents-table > div > table > tbody > tr > td:nth-child(2) {
    color: #6B7280;
}

.contragents-table > div > table > tbody > tr > td:nth-child(3) {
    color: #111928;
    font-weight: bold;
}