.contragents-modal {
    position: fixed;
    left: 36%;
    top: 23%;
}

.contragents-modal-body {
    padding: 0 2rem 2rem 2rem;
}

.contragents-modal-header {
    padding: 1.261rem 0.938rem;
    border-width: 0;
}

.error {
    border-color: #9B1C1C;
}